<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/static/style.css}">
</head>
<body>
    <div th:replace="base :: layout(~{::main})">
        <main>
            <form method="GET" action="/search-city">
                <section>
                    <div class="d-flex my-4">
                        <div class="input-group location-search-input-group me-3">
                            <input class="form-control" type="text" name="city" placeholder="Enter location" required>
                            <button class="btn btn-outline-secondary btn-sm clear-input-button" type="button"
                                    onclick="this.previousElementSibling.value=''">
                                &times;
                            </button>
                        </div>
                        <button class="btn btn-outline-success">Search</button>
                    </div>
                </section>
            </form>

            <section class="container my-4" th:if="${cities != null and not #lists.isEmpty(cities)}">
                <h2>Search results:</h2>
                <div class="row" th:if="${cities != null}">
                    <div class="col-md-4 mb-3" th:each="city : ${cities}">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${city.name}">City Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <span th:text="${city.state}">State</span>, 
                                    <span th:text="${city.country}">Country</span>
                                </h6>
                                <p class="card-text">
                                    Latitude: <span th:text="${city.latitude}"></span><br>
                                    Longitude: <span th:text="${city.longitude}"></span>
                                </p>
                                <form th:action="@{/add-location}" method="post">

                                    <input type="hidden" name="name" th:value="${city.name}" />
                                    <input type="hidden" name="latitude" th:value="${city.latitude}" />
                                    <input type="hidden" name="longitude" th:value="${city.longitude}" />
                                    <input type="hidden" name="country" th:value="${city.country}" />
                                    <input type="hidden" name="state" th:value="${city.state}" />
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
 
            <section class="container my-4" th:if="${cities == null or #lists.isEmpty(cities)}">
                <h2>My location</h2>
                <div class="row" th:if="${userLocations != null and not #lists.isEmpty(userLocations)}">
                    <div class="col-md-4 mb-3" th:each="location : ${weatherList}">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${location.cityName}">User Location Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    Temperature: <span th:text="${location.temperature} + '°C'"></span><br>
                                    Description: <span th:text="${location.desctiption}"></span>
                                </h6>
                                <p class="card-text">
                                    <img th:src="@{'http://openweathermap.org/img/wn/' + ${location.icon} + '@2x.png'}" alt="Weather icon"/>
                                    Humidity: <span th:text="${location.humidity} + '%'"></span><br>
                                    Wind speed: <span th:text="${location.windSpeed} + ' м/с'"></span>
                                </p>
                                <form th:action="@{/remove-location}" method="post">
                                    <input type="hidden" name="latitude" th:value="${location.latitude}" />
                                    <input type="hidden" name="longitude" th:value="${location.longitude}" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div th:if="${userLocations == null or #lists.isEmpty(userLocations)}" class="alert alert-info" role="alert">
                    You don't have any saved locations yet. Use the search above to add them!
                </div>
            </section>
        </main>
    </div>
</body>
</html>