<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base :: common_header(~{::title},~{::link})">
    <title>Главная страница</title>
    <link rel="stylesheet" th:href="@{/static/style.css}">
</head>
<body>
    <div th:replace="base :: layout(~{::main})">
        <main>
            <form method="GET" action="/search-city">
                <section>
                    <div class="d-flex my-4">
                        <div class="input-group location-search-input-group me-3">
                            <input class="form-control" type="text" name="city" placeholder="Enter location" required>
                            <button class="btn btn-outline-secondary btn-sm clear-input-button" type="button"
                                    onclick="this.previousElementSibling.value=''">
                                &times;
                            </button>
                        </div>
                        <button class="btn btn-outline-success">Search</button>
                    </div>
                </section>
            </form>

            <section class="container my-4">
                <h2>Search results:</h2>
                <div class="row" th:if="${cities != null}">
                    <div class="col-md-4 mb-3" th:each="city : ${cities}">
                        <div class="card h-100 shadow-sm">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${city.name}">City Name</h5>
                                <h6 class="card-subtitle mb-2 text-muted">
                                    <span th:text="${city.state}">State</span>, 
                                    <span th:text="${city.country}">Country</span>
                                </h6>
                                <p class="card-text">
                                    Latitude: <span th:text="${city.latitude}"></span><br>
                                    Longitude: <span th:text="${city.longitude}"></span>
                                </p>
                                <form th:action="@{/add-location}" method="post">

                                    <input type="hidden" name="name" th:value="${city.name}" />
                                    <input type="hidden" name="latitude" th:value="${city.latitude}" />
                                    <input type="hidden" name="longitude" th:value="${city.longitude}" />
                                    <input type="hidden" name="country" th:value="${city.country}" />
                                    <input type="hidden" name="state" th:value="${city.state}" />
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <h1>Welcome to dashboard page!</h1>
        </main>
    </div>
</body>
</html>